<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2>Servicios Existentes</h2>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <mat-tab-group>
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon class="example-tab-icon">list</mat-icon>
                                        Personal
                                    </ng-template>
                                    <div class="row">
                                        <div class="col-10">
                                            <h3>Lista de Personal</h3>
                                        </div>
                                        <div class="col-2">
                                            <br>
                                            <div class="d-flex align-items-end">
                                                <button mat-raised-button color="primary"
                                                    [routerLink]="[baseroute,'personal', 'create']">Agregar
                                                    Personal</button>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div class="row">
                                        <div class="col-12">
                                            <app-personal-list></app-personal-list>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon class="example-tab-icon">healing</mat-icon>
                                        Medicos
                                    </ng-template>
                                    <div class="row">
                                        <div class="col-10">
                                            <h3>Lista de Medicos</h3>
                                        </div>
                                        <div class="col-2">
                                            <br>
                                            <div class="d-flex align-items-end">
                                                <button mat-raised-button color="primary"
                                                    [routerLink]="[baseroute,'medic', 'create']">Agregar
                                                    Medico</button>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div class="row">
                                        <div class="col-12">
                                            <app-medic-list></app-medic-list>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>