<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <th>Folio</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <!-- <th>Acciones</th> -->
        </thead>
        <tbody>
            <tr>
                <td>JRG</td>
                <td>Juan Ramirez Gonzales</td>
                <td>Los positos #32</td>
                <td>4491018462</td>
            </tr>
            <tr>
                <td>PMG</td>
                <td>Pedro Martinez Garza</td>
                <td>Francisco i Madero # 45</td>
                <td>4491018462</td>
            </tr>
            <tr>
                <td>GMP</td>
                <td>Gissela Martinez Perez</td>
                <td>Los rosales #332</td>
                <td>4491018462</td>
            </tr>
            <tr>
                <td>JMO</td>
                <td>Julio Martinez Ortiz</td>
                <td>Rosales #21</td>
                <td>4491018462</td>
            </tr>
        </tbody>
    </table>
</div>