      <div class="table-responsive">
              <div class="mat-table">
                <div class="mat-table__wrapper">
                  <table
                    mat-table
                    #table
                    matSort
                    matsortactive="id"
                    matsortdirection="asc"
                    [dataSource]="DataSource"
                    class="mat-elevation-z8"
                  >
                    <mat-progress-bar
                      mode="indeterminate"
                      *ngIf="DataSource.loading$ | async"
                    ></mat-progress-bar>

                    <ng-container matColumnDef="FOLIO">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Folio
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element._id.substring(0, 5).toUpperCase()}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="FOLIOP">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Folio Receta
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.recipe.substring(0, 5).toUpperCase()}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="MEDIC">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Medico
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.medic.person.name}} {{element.medic.person.lastname}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="DATE">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Fecha 
                      </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.date | date}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="ACTIONS">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Acciones
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="mobile-label">Acciones:</span>

                        <a
                          [routerLink]="[baseRoute, 'see', element._id]"
                          mat-icon-button
                          color="primary"
                          matTooltip="Ver Datos de consulta"
                        >
                          <mat-icon>visibility</mat-icon> </a
                        >&nbsp;
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                  </table>
                  <mat-paginator
                    [pageSize]="15"
                    [pageSizeOptions]="[1, 10, 25, 50]"
                    [length]="DataSource.paginatorTotal$ | async"
                  >
                  </mat-paginator>
                </div>
              </div>
            </div>
