<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div id="typography">
          <div class="card-title">
            <div class="row">
              <div class="col-9">
                <h2>Agregar Personal</h2>
              </div>
              <div class="col-1">
                <a
                  [routerLink]="['/services']"
                  mat-raised-button
                  class="mat-icon-inline"
                >
                  <mat-icon>arrow_back</mat-icon>
                  Regresar
                </a>
              </div>
              <div class="col-2">
                <button
                  mat-raised-button
                  color="primary"
                  *ngIf="!readOnly"
                  (click)="saveChanges()"
                >
                  <mat-icon>save</mat-icon>
                  Guardar Cambios
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">list</mat-icon>
                Datos Persona
              </ng-template>
              <div class="row">
                <div class="col-10">
                  <h3></h3>
                </div>
                <div class="col-2">
                  <br />
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <form [formGroup]="personForm">
                    <div class="row">
                      <div class="col-sm-2">
                        <mat-form-field class="mat-form-field-fluid">
                          <input
                            formControlName="name"
                            matInput
                            placeholder="Escriba el nombre"
                            required
                          />
                          <mat-hint align="start"
                            >Escriba el <strong>Nombre</strong></mat-hint
                          >
                        </mat-form-field>
                      </div>
                      <div class="col-sm-2">
                        <mat-form-field class="mat-form-field-fluid">
                          <input
                            matInput
                            formControlName="lastname"
                            placeholder="Escriba los apellidos"
                            required
                          />
                          <mat-hint align="start"
                            >Escriba los <strong>apellidos</strong>
                          </mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-2">
                        <mat-form-field class="mat-form-field-fluid">
                          <input
                            matInput
                            formControlName="address"
                            placeholder="Escriba la direccion"
                            required
                          />
                          <mat-hint align="start"
                            >Escriba la <strong>Direccion</strong></mat-hint
                          >
                        </mat-form-field>
                      </div>
                      <div class="col-sm-2">
                        <mat-form-field class="mat-form-field-fluid">
                          <input
                            matInput
                            formControlName="cellphone"
                            placeholder="Escriba el telefono"
                            required
                          />
                          <mat-hint align="start"
                            >Escriba el <strong>telefono</strong></mat-hint
                          >
                        </mat-form-field>
                      </div>
                      <div class="col-sm-2">
                        <mat-form-field class="mat-form-field-fluid">
                          <input
                            matInput
                            formControlName="job"
                            placeholder="Escriba la trabajo"
                            required
                          />
                          <mat-hint align="start"
                            >Escriba el <strong>trabajo</strong></mat-hint
                          >
                        </mat-form-field>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"> verified_user </mat-icon>
                Usuario
              </ng-template>
              <div class="row">
                <div class="col-10">
                </div>
                <div class="col-2">
                  <div class="d-flex align-items-end">
                    <button *ngIf="true"
                        mat-raised-button
                      color="primary"
                      (click) ="saveUser()"
                      >
                      Generar usuario
                    </button>
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="row">
                <div class="col-12">
                     <form [formGroup]="userForm">
                    <div class="row">
                      <div class="col-sm-6">
                        <mat-form-field class="mat-form-field-fluid">
                          <input
                            formControlName="username"
                            matInput
                            placeholder="Escriba el nombre"
                            required
                          />
                          <mat-hint align="start"
                            >Escriba el <strong>Nombre</strong></mat-hint
                          >
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field class="mat-form-field-fluid">
                          <input
                            type="password"
                            formControlName="password"
                            matInput
                            placeholder="Escriba el password"
                            required
                          />
                          <mat-hint align="start"
                            >Escriba el <strong>password</strong></mat-hint
                          >
                        </mat-form-field>
                      </div>
                        </div>
                     </form>
                </div>
            </div>
            </mat-tab>
            <mat-tab>
               <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"> admin_panel_settings </mat-icon>
              Permisos 
              </ng-template>

            
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
