<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2>Farmacia</h2>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Historial de recetas</h3>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="Escriba la Folio" required>
                                <mat-hint align="start">Escriba el <strong>Folio</strong></mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="Escriba el Folio del Paciente" required>
                                <mat-hint align="start">Escriba el <strong>Folio Paciente</strong></mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="Escriba el Folio del Medico" required>
                                <mat-hint align="start">Escriba el <strong>Folio Medico</strong></mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <br>
                    <mat-divider></mat-divider>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>Folio</th>
                                        <th>Paciente|Folio</th>
                                        <th>Doctor|Folio</th>
                                        <th>Fecha</th>
                                        <!-- <th>Acciones</th> -->
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2</td>
                                            <td>BRDF</td>
                                            <td>JRG</td>
                                            <td>21/06/2020</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>ALMS</td>
                                            <td>PMG</td>
                                            <td>21/06/2020</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>