<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <th>id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Folio Doctor</th>
            <!-- <th>Acciones</th> -->
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Urgencias</td>
                <td>Primera instancia en caso de un accidente</td>
                <td>JRG</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Terapia Fisica</td>
                <td>Apoyo a rehabilitacion fisica de las personas</td>
                <td>PMG</td>
            </tr>
        </tbody>
    </table>
</div>